<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>


  <div class="audio-player">
    <div class="timeline">
      <div class="progress"></div>
    </div>
    <div class="controls">
      <div class="play-container">
        <div class="toggle-play"
            [ngClass]="{ 'play': audio == null || audio.paused, 'pause': !audio.paused}"
            (click)="togglePlay()"
            >
      </div>
      </div>
      <div class="time">
        <div class="current">0:00</div>
        <div class="divider">/</div>
        <div class="length"></div>
      </div>
      <div class="name">Music Song</div>
  <!--     credit for icon to https://saeedalipoor.github.io/icono/ -->
      <div class="volume-container">
        <div class="volume-button">
          <div class="volume icono-volumeMedium"></div>
        </div>

        <div class="volume-slider">
          <div class="volume-percentage"></div>
        </div>
      </div>
    </div>
  </div>



  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
